.farmfactory-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.farmfactory-row.center {
  justify-content: center;
}

.farmfactory-widget {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.farmfactory-widget * {
  box-sizing: border-box;
}

.farmfactory-widget .farmfactory-button {
  margin-left: 20px;
}

.farmfactory-widget .farmfactory-button:first-child {
  margin-left: 0;
}

/* Headline */

.farmfactory-headline {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.farmfactory-headline > div {
  margin: 0 40px;
}

.farmfactory-headline .farmfactory-title {
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin-bottom: 10px;
  padding-bottom: 0;
  font-weight: 400;
}

.farmfactory-headline .farmfactory-value {
  font-size: 18px;
  line-height: 155%;
  font-weight: 600;
  color: #000;
}

/* Balance */

.farmfactory-balanceCard {
  padding: 30px;
  border: 2px solid #000;
  border-radius: 10px;
  margin-right: 40px;
  background: #fff;
  min-width: 320px;
  min-height: 185px;
}

.farmfactory-balanceCard > .farmfactory-title {
  font-size: 18px;
  color: #5c5c5c;
  line-height: 160%;
  margin-bottom: 20px;
  text-align: center;
}

.farmfactory-balanceCard > .farmfactory-value {
  font-weight: 800;
  font-size: 28px;
  line-height: 160%;
  color: #000;
  text-align: center;
}

.farmfactory-rewardsTimeLeft > .farmfactory-value {
  font-size: 40px;
}

.farmfactory-total {
  border-top: 2px solid #000;
  display: flex;
  padding: 10px 20px 10px 20px;
  justify-content: space-between;
  margin: 18px -30px -30px -30px;
}

.farmfactory-total > .farmfactory-title {
  font-size: 14px;
  color: #5c5c5c;
  margin-right: 10px;
}

.farmfactory-total > .farmfactory-value {
  font-weight: 700;
  font-size: 14px;
  color: #000;
}

/* Farming */

.farmfactory-farmingCard {
  padding: 30px;
  border: 2px solid #000;
  border-radius: 10px;
  margin-right: 40px;
  background: #fff;
  min-width: 320px;
  min-height: 185px;
}

.farmfactory-farmingCard .farmfactory-amount {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 28px;
  line-height: 160%;
  color: #000;
  text-align: center;
}

.farmfactory-farmingCard .farmfactory-title {
  font-size: 18px;
  color: #5c5c5c;
  line-height: 160%;
  margin-bottom: 30px;
  text-align: center;
}

.farmfactory-farmingCard .farmfactory-buttonContainer {
  display: flex;
  justify-content: center;
}

/* Button */

.farmfactory-button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 36px;
  padding: 0 24px;
  font-weight: 800;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: 0.2s;
}

.farmfactory-button.blue {
  box-shadow: 2px 2px 5px rgba(80,224,237,.5), inset -1px -1px 2px #08ccde;
  background: #50e0ed;
  color: #fff;
}

.farmfactory-button.yellow {
  box-shadow: 2px 2px 5px rgba(255,245,0,.45), inset -1px -1px 2px rgba(230,220,0,.6);
  background: #fff500;
  color: #000;
}

.farmfactory-button.gray {
  box-shadow: 2px 2px 5px rgba(0,0,0,.05), inset -1px -1px 2px rgba(0,0,0,.1);
  background: #f7f7f7;
  color: #000;
}

.farmfactory-button.disabled {
  box-shadow: none !important;
  background-color: #ddd !important;
  color: #666 !important;
  cursor: default !important;
}


/* Modal */

.farmfactory-overlay {
  background: rgba(0,0,0, 0.6);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.farmfactory-modal {
  padding: 50px 40px 40px;
  min-width: 360px;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 8px;
  z-index: 5;
  background: #fff;
}

.farmfactory-modal .farmfactory-closeButton {
  cursor: pointer;
  vertical-align: top;
  overflow: hidden;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
}

.farmfactory-modal .farmfactory-closeButton svg {
  width: 100%;
  height: 100%;
}

.farmfactory-modal .farmfactory-title {
  text-align: center;
  font-size: 18px;
  line-height: 155%;
  padding-bottom: 24px;
  color: #000;
}

.farmfactory-modal .farmfactory-inner {
  text-align: center;
}

.farmfactory-modal .farmfactory-inner .farmfactory-svgLogo {
  width: 240px;
}

.farmfactory-modal input {
  height: 36px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 14px;
  background: #FFFFFF;
  border: 1px solid #C2C2C2;
  box-sizing: border-box;
  border-radius: 4px;
}

.farmfactory-modal .farmfactory-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.farmfactory-modal .farmfactory-footer .farmfactory-button {
  margin: 0 30px;
}

.farmfactory-modal .farmfactory-balanceTitle {
  font-size: 14px;
  line-height: 155%;
  color: #858585;
}

.farmfactory-modal .farmfactory-balanceValue {
  margin-left: 10px;
  font-size: 14px;
  line-height: 155%;
  font-weight: 600;
  color: #000;
}

.farmfactory-modal input {
  margin-top: 32px;
}



/* Loader */

.farmfactory-loader {
  height: 16px;
  display: flex;
  align-items: stretch;
}

.farmfactory-loader div {
  width: 4px;
  height: 100%;
  margin-left: 4px;
  background: #000;
  animation: farmfactory-loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.farmfactory-loader div:first-child {
  margin-left: 0;
}

.farmfactory-loader div:nth-child(1) {
  animation-delay: -0.24s;
}

.farmfactory-loader div:nth-child(2) {
  animation-delay: -0.12s;
}

.farmfactory-loader div:nth-child(3) {
  animation-delay: 0s;
}

@keyframes farmfactory-loader {
  0% {
    margin-top: -6px;
    height: 28px;
  }
  50%, 100% {
    margin-top: 0;
    height: 16px;
  }
}
